.custom-input {
  position: relative;
}

.custom-input .input-message {
  position: absolute;
  top: 39px;
  left: 0;
}

.custom-input .input-message.is-invalid {
  @include font-face(14px, 22px, 14px, 22px, 14px, 20px);

  color: $color-crimson;
}

.custom-input.is-invalid input {
  border-bottom: 1px solid $color-crimson;
}

