.event {
  @include font-face (18px, 24px, 18px, 24px, 16px, 20px);
  font-weight: 300;
}

.event__container {
  display: flex;
  justify-content: center;
  padding: 120px 103px;


  @include vp-1365 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px;
    flex-direction: column;
  }
}

.event__content-wrapper {
  @include vp-1365 {

  }

  @include vp-767 {

  }
}

.event__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 40%; /*Change PP*/
  padding: 80px;

  background-color:  $color-torch-red;
  color: $color-default-white;

  @include vp-1365 {
    padding: 40px 45px;
  }

  @include vp-767 {
    padding: 40px;
  }
}

.event__title {
  flex-basis: 50%;
  margin: 0;

  font-family: $ff-alumni-sans;
  @include font-face(82px, 67px, 48px, 46px, 48px, 46px);
  font-weight: 600;
  letter-spacing: 2.46px;
  text-transform: uppercase;

  @include vp-1365 {
    letter-spacing: 1.44px;
  }

  @include vp-767 {
  }
}

.event__date-container {
  flex-basis: 33%;
  @include vp-1365 {

  }

  @include vp-767 {

  }
}

.event__date-container dl {
  margin: 0;
  &:not(:last-child) {
    margin: 0 0 20px;
  }
}

.event__date-container dt {
  margin: 0 0 12px;

}
.event__date-container dd {
  display: flex;
  margin: 0;

  @include font-face (40px, 40px, 24px, 24px, 24px, 24px);
  font-weight: 700;

  span {
    max-width: 60%;
    margin: 0 0 0 4px;
    @include font-face (14px, 14px, 10px, 10px, 10px, 10px);
    font-weight: 400;
  }
}

.event__text {
  width: 100%;
  @include vp-1365 {

  }

  @include vp-767 {

  }
}

.event__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include vp-1365 {
    padding: 20px 50px;
  }

  @include vp-767 {
    padding: 20px 43px;
  }
}

.event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
