
.form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px 30px;

  margin: 0 0 38px;

  @include vp-1365 {
    gap: 30px 63px;
    margin: 0 0 29px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0 0 39px;
  }
}

.form__inputs label {
  margin: 0;
  width: 100%;


  @include vp-767 {
    margin: 0 0 -4px;
  }
}

.form__inputs input {
  vertical-align: middle;
  width: 100%;
  padding: 10px 10px 3px 0;

  @include font-face(14px, 22px, 16px, 24px, 14px, 22px,);
  font-weight: 300;
  color: $color-default-white;

  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &::placeholder {
    color: $color-default-white;
  }

  &::after {
    top: -10px;
    left: -10px;
    height: calc(100% + 10px);
    width: 100%;
    border: 1px solid $color-resolution-blue;

    background-color: transparent;
  }

  @include hover {
    &:not(:disabled) {
      border-bottom: 1px solid $color-default-white;
    }
  }

  @include focus {
    &:not(:disabled){
      border: 1px solid $color-default-white;
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }

  }

  @include active {
    &:not(:disabled){
      border: 1px solid $color-default-white;
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    cursor: default;
  }
}

.form__button {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $color-default-white;

  @include vp-767 {
    margin: 13px 0 0;
  }

  @include hover-focus {
    &:not(:disabled){
      background: $color-default-white;
      color: $color-egyptian-blue;
      opacity: 1;
    }
  }

  @include active {
    &:not(:disabled){
      color: $color-sapphire;
    }
  }

  &:disabled {
    color: $color-default-white;
    border-color: $color-default-white;
    opacity: 0.5;
    cursor: default;
  }
}
