.page-footer {
  background-color: $color-black-russian;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 103px;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

// .page-footer__item {

// }

.page-footer__link {
  @include font-face(14px, 22px, 14px, 22px, 14px, 20px,);
  font-weight: 400;
  color: $color-default-white;
}

// .page-footer__socials {
  
// }