.video {
  width: 364px;
  height: 228px;

  img {
    position: absolute;
    z-index: 1;

    background-color: rgba(20, 54, 122, 0.50);
  }

  iframe {
    display: none;
  }
}

// .video__play-button {

// }